.incedent_main {
        margin-top: 0;
        background: #fff;
        grid-area: nav;
        padding: 0 20px 0 20px;
}
.seach_incident {
    margin: 20px;
}
.view_data {
    color: #8fc3f4;
    text-decoration: underline;
    
}
.incedent_main .MuiTableCell-root {
    border-bottom: none !important;
  }

  