.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #7d9eb5;
}

.navbar__left > a {
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #90c3f4;
  font-size: 15px;
  font-weight: 500;
}

.logo img {
  width: 160px;
}
.navbar__left .active_link {
  color: #444;
  border-bottom: #90c3f4 3px solid;
}
.navbar__left a:active {
  color: #444;
  border-bottom: #90c3f4 3px solid;
}

.navbar__center > a {
  margin-right: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
  text-decoration: none;
  color: #7d9eb5;
  font-size: 15px;
  font-weight: 500;
}
.navbar__center > a:active {
  color: #444;
  border-bottom: #90c3f4 3px solid;
}
.navbar__center > a:hover {
  color: #444;
  border-bottom: #90c3f4 3px solid;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #7d9eb5;
  font-size: 18px;
  border-radius: 5px;
  background: #d1cdcd;
  /* box-shadow: 2px 2px 5px #b4b3b3, -2px -2px 5px #ffffff; */
  padding: 10px;
}
.navbar__right .avatar_box {
  text-align: end;
  padding: 5px;
}
.navbar__right .avatar_name {
  font-size: 14px;
  color: rgb(54, 170, 224);
}
.navbar__right .avatar_role {
  text-transform: uppercase;
  font-size: 12px;
}

.navbar__right .avatar_img img {
  border-radius: 10px;
  width: 43px;
}

@media only screen and (max-width: 978px) {
  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
